body {
  text-align: center;
  background: #fff59b;
  color: #642A82;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
button {
  margin-bottom: 20px;
  background-color: #FCB44B;
  color: #642A82;
  padding: 0px 30px;
  font-size: 15px;
  font-weight: bold;
}
